[submodule "deps/compiler-rt-builtins-riscv"]
	path = deps/compiler-rt-builtins-riscv
	url = https://github.com/nervosnetwork/compiler-rt-builtins-riscv.git
[submodule "deps/ckb-c-stdlib"]
	path = deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib
