[submodule "deps/ckb-c-stdlib"]
	path = deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib.git
[submodule "deps/compiler-rt-builtins-riscv"]
	path = deps/compiler-rt-builtins-riscv
	url = https://github.com/libraries/compiler-rt-builtins-riscv
	branch = update
[submodule "deps/musl"]
	path = deps/musl
	url = https://github.com/xxuejie/musl
