name: CI

on: [push, pull_request]

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Install llvm 16
      run: sudo apt-get purge --auto-remove llvm python3-lldb-14 llvm-14 && wget https://apt.llvm.org/llvm.sh && chmod +x llvm.sh && sudo ./llvm.sh 16
    - name: Build
      run: make all
    - name: Install tools
      run: make install
    - name: Tests
      run: make test
  
  macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Install LLVM and Clang
      run: brew install llvm@16
    - name: Build
      run: export PATH="/usr/local/opt/llvm/bin:$PATH" && make all
