name: ckb-js-vm

on: [push, pull_request]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: ./.github/workflows/ckb-js-vm-build-tools
    - name: Build
      run: make all CFI=unlabeled
    - name: Tests
      run: make test
    - name: Benchmark
      run: make benchmark
