name: ckb-js-std

on: [push, pull_request]

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install llvm 18
      run: |
        sudo apt-get purge --auto-remove llvm python3-lldb-14 llvm-14
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 18
        rm llvm.sh
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
    - name: Install tools
      run: make install
    - name: Install ckb-debugger
      run: |
        wget 'https://github.com/nervosnetwork/ckb-standalone-debugger/releases/download/v0.200.0/ckb-debugger_v0.200.0_x86_64-unknown-linux-gnu.tar.gz'
        tar xzvf ckb-debugger_v0.200.0_x86_64-unknown-linux-gnu.tar.gz
        mv ckb-debugger ~/.cargo/bin
    - name: Build
      run: make all
    - name: Install node dependencies
      run: pnpm install
    - name: Build all packages
      run: pnpm build
    - name: Run tests
      run: pnpm test
    - name: Run examples
      run: cd packages/examples && pnpm run start
    - name: Generate typedoc
      run: pnpm run docs
    - name: Create app
      run: cd .. && node ckb-js-vm/packages/create-app/dist/index.js test-app && cd test-app && pnpm build && pnpm test