name: ckb-js-std

on: [push, pull_request]

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: ./.github/workflows/ckb-js-vm-build-tools
    - name: Build
      run: make all
    - name: Install node dependencies
      run: pnpm install
    - name: Build all packages
      run: pnpm build
    - name: Run tests
      run: pnpm test
    - name: Run examples
      run: cd packages/examples && pnpm run start
    - name: Generate typedoc
      run: pnpm run docs
    - name: Create app(npm)
      run: |
        cd ..
        node ckb-js-vm/packages/create-app/dist/index.js test-app-npm --use-npm
        cd test-app-npm
        npm run build
        npm run test
        npm run lint
    - name: Create app(pnpm)
      run: |
        cd ..
        node ckb-js-vm/packages/create-app/dist/index.js test-app
        cd test-app
        pnpm build
        pnpm test
        pnpm lint
